@import "https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css";
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
input {
  display: block;
}
.input__submit {
  cursor: pointer;
  width: 340px;
  height: 48px;
  margin: 0 auto;
  background-color: #ffb800;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
}
.errors__message {
  color: rgb(228, 11, 11);
}
